@import "tailwindcss";

@theme {
  --color-primary-50: #f5f9ec;
  --color-primary-100: #dfeec3;
  --color-primary-200: #d0e5a6;
  --color-primary-300: #bad97d;
  --color-primary-400: #add264;
  --color-primary-500: #98c73d;
  --color-primary-600: #8ab538;
  --color-primary-700: #6c8d2b;
  --color-primary-800: #546d22;
  --color-primary-900: #40541a;
  --color-secondary-50: #e8ebeb;
  --color-secondary-100: #b7c0c2;
  --color-secondary-200: #94a2a4;
  --color-secondary-300: #63787b;
  --color-secondary-400: #455d61;
  --color-secondary-500: #16353a;
  --color-secondary-600: #143035;
  --color-secondary-700: #102629;
  --color-secondary-800: #102629;
  --color-secondary-900: #091618;
  --color-gray-50: #fefefe;
  --color-gray-100: #fbfcfc;
  --color-gray-200: #f9fafa;
  --color-gray-300: #f7f8f8;
  --color-gray-400: #f5f7f7;
  --color-gray-500: #f3f5f5;
  --color-gray-600: #dddfdf;
  --color-gray-700: #adaeae;
  --color-gray-800: #868787;
  --color-gray-900: #666767;

  --text-tiny: 0.625rem;
  --text-tiny--line-height: 1.5rem;
  --text-tiny--letter-spacing: 0.125rem;
  --text-tiny--font-weight: 500;

  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 2rem;
  --text-4xl: 2.5rem;
  --text-5xl: 3rem;
  --text-6xl: 4rem;

  --height-84: 21rem;
  --width-25: 6.25rem;

  --default-font-family: var(--font-poppins);

  --grid-template-columns-auto-fit-100: repeat(
    auto-fit,
    minmax(min(100%, 18.75rem), 1fr)
  );
  --grid-template-columns-auto-fit-250: repeat(
    auto-fit,
    minmax(min(100%, 15.625rem), 1fr)
  );
}

@layer base {
  body {
    @apply text-sm md:text-base;
  }
}

.container {
  @apply max-w-[75rem] px-6 mx-auto w-full;
}

.container[data-size="md"] {
  @apply max-w-[60rem];
}

.container[data-size="sm"] {
  @apply max-w-[37.5rem];
}

.section {
  @apply py-10 overflow-x-hidden;
}

.section[data-padding="md"] {
  @apply md:py-14 lg:py-20;
}
.section[data-padding="lg"] {
  @apply md:py-28 lg:py-40;
}
